<h1 mat-dialog-title>Profile of Mayank</h1>
<div mat-dialog-content>

  <div fxLayout="row wrap">
    <div fxFlex.md="40%" fxFlex.lg="40%" fxFlex.xl="40%" fxFlex.sm="100%" class="p-2 bd-highlight">Mobile No</div>
    <div fxFlex.md="60%" fxFlex.lg="60%" fxFlex.xl="60%" fxFlex.sm="100%" class="p-2 bd-highlight">8465478995</div>

    <div fxFlex.md="40%" fxFlex.lg="40%" fxFlex.xl="40%" fxFlex.sm="100%" class="p-2 bd-highlight">Email</div>
    <div fxFlex.md="60%" fxFlex.lg="60%" fxFlex.xl="60%" fxFlex.sm="100%" class="p-2 bd-highlight">Flexitem@gmail.com
    </div>

    <div fxFlex.md="40%" fxFlex.lg="40%" fxFlex.xl="40%" fxFlex.sm="100%" class="p-2 bd-highlight">Mobile No</div>
    <div fxFlex.md="60%" fxFlex.lg="60%" fxFlex.xl="60%" fxFlex.sm="100%" class="p-2 bd-highlight">8465478995</div>

    <div fxFlex.md="40%" fxFlex.lg="40%" fxFlex.xl="40%" fxFlex.sm="100%" class="p-2 bd-highlight">Email</div>
    <div fxFlex.md="60%" fxFlex.lg="60%" fxFlex.xl="60%" fxFlex.sm="100%" class="p-2 bd-highlight">Flexitem@gmail.com
    </div>

    <div fxFlex.md="40%" fxFlex.lg="40%" fxFlex.xl="40%" fxFlex.sm="100%" class="p-2 bd-highlight">Mobile No</div>
    <div fxFlex.md="60%" fxFlex.lg="60%" fxFlex.xl="60%" fxFlex.sm="100%" class="p-2 bd-highlight">8465478995</div>

    <div fxFlex.md="40%" fxFlex.lg="40%" fxFlex.xl="40%" fxFlex.sm="100%" class="p-2 bd-highlight">Email</div>
    <div fxFlex.md="60%" fxFlex.lg="60%" fxFlex.xl="60%" fxFlex.sm="100%" class="p-2 bd-highlight">Flexitem@gmail.com
    </div>

    <div fxFlex.md="40%" fxFlex.lg="40%" fxFlex.xl="40%" fxFlex.sm="100%" class="p-2 bd-highlight">Mobile No</div>
    <div fxFlex.md="60%" fxFlex.lg="60%" fxFlex.xl="60%" fxFlex.sm="100%" class="p-2 bd-highlight">8465478995</div>

    <div fxFlex.md="40%" fxFlex.lg="40%" fxFlex.xl="40%" fxFlex.sm="100%" class="p-2 bd-highlight">Email</div>
    <div fxFlex.md="60%" fxFlex.lg="60%" fxFlex.xl="60%" fxFlex.sm="100%" class="p-2 bd-highlight">Flexitem@gmail.com
    </div>
  </div>
</div>
<div mat-dialog-actions align="center">
  <button mat-flat-button color="primary" (click)="onClickApprove()">Approve</button>
  <button mat-flat-button color="warn" (click)="onClickReject()">Reject</button>
  <button mat-flat-button [mat-dialog-close]="true" cdkFocusInitial>Close</button>
</div>